body {
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  font-size: 4vw;
  font-weight: bold;
  margin-bottom: 20px;
}
.input-container, .todo-list-div {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 8px;
  row-gap: 8px;
}
.input-element, .date-element, .add-button, .delete-button {
  padding: 6px;
  font-size: 15px;
}
.add-button, .delete-button {
  background-color: green;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.15s;
}
.add-button:hover, .delete-button:hover {
  opacity: 0.8;
}
.input-container {
  margin-bottom: 8px;
}
.delete-button {
  background-color: darkred;

}
